<div class="olivebg">

  <div class="sidemenu">
      <div class="sidebar-bg">
          <div class="cubes-container">
              <div class="cubes">
                  <img class="cubes-img" src="/assets/global/cubes2d.svg" alt="$2 Pools">
                  <div class="cubes-prize">$2 Pools</div>
              </div>
              <div class="cubes">
                  <img class="cubes-img" src="/assets/global/cubes10d.svg" alt="$10 Pools">
                  <div class="cubes-prize">$10 Pools</div>
              </div>
              <div class="cubes">
                  <img class="cubes-img" src="/assets/global/cubes25d.svg" alt="$25 Pools">
                  <div class="cubes-prize">$25 Pools</div>
              </div>
              <div class="cubes">
                  <img class="cubes-img" src="/assets/global/cubes100d.svg" alt="$100 Pools">
                  <div class="cubes-prize">$100 Pools</div>
              </div>
              <div class="cubes">
                  <img class="cubes-img" src="/assets/global/cubes1000d.svg" alt="$1000 Pools">
                  <div class="cubes-prize">$1000 Pools</div>
              </div>
          </div>
          <img class="sidebar-img" src="/assets/global/sidebar.svg" alt="">
      </div>
  </div>
  <div class="main-container">
      <div class="pool-card">
          <div class="pool-col1">
              <div class="pool-title1">$100 Pool</div>
              <img class="pool-img" src="/assets/global/pool100.svg" alt="">
          </div>
          <div class="pool-col2">
              <div class="pool-title2">$100,000 Instant win</div>
              <div class="pool-info-div">
                  <div class="pool-info">
                      <div class="pool-info-title">Max Tickets</div>
                      <div class="pool-info-value">200</div>
                  </div>
                  <div class="pool-info">
                      <div class="pool-info-title">Total Tickets</div>
                      <div class="pool-info-value">1100</div>
                  </div>
                  <div class="pool-info">
                      <div class="pool-info-title">Instant Draw</div>
                      <div class="pool-info-value">After close</div>
                  </div>
              </div>
              <hr class="loadingbar">
              <div class="pool-buy-bar">
                  <div class="select-bar">
                      <button class="select" role="select">Select</button>
                  </div>
                  <div class="enter-bar">
                      <button class="enter" role="enter">Enter</button>
                      <button class="enter" role="select-tickets">Select Tickets</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>