@import "src/variables.scss";

.olivebg {
    width: 100%;
    height: 100rem;
    background-color: #404541;
}

// --------------------
// Sidemenu
// --------------------

.sidemenu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 8%;
}

.sidebar-bg {
    margin-top: 13.5rem;
    width: 100%;
    height: 100%;
}

.sidebar-img {
    position: absolute;
    margin-top: 80%;
    top: 0;
    left: 0;
    width: 92%;
    z-index: -1;
}

.cubes {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.cubes:hover {
    filter: brightness(150%);
}

.cubes-img {
    width: 50%;
}

.cubes-container {
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 44%;
}

.cubes-prize {
    color: #979797;
    font-size: 1.1em;
    font-family: 'Jost*';
    font-weight: 400;
}

// --------------------
// Main container
// --------------------

.main-container {
    display: flex;
    justify-content: center;
    background-color: #1D2320;
    border-radius: 6rem 0 0 0;
    height: 100%;
    margin-left: 8%;
    top: 0;
    box-shadow: 5px 8px 10px #00000054,
        inset 5px 7px 12px -10px #000000;
}

.pool-card {
    background-image: url('/assets/global/pool100card.svg');
    background-size: cover;
    overflow: hidden;
    width: 70rem;
    height: 34.5rem;
    margin-top: 8rem;
    border-radius: 3rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
}

// --------------------
// Main container - Card left side
// --------------------

.pool-col1 {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.pool-title1 {
    color: #1D2320;
    text-align: center;
    font-size: 3em;
    font-family: 'Jost*';
    font-weight: 700;
}

.pool-img {
    width: 15rem;
}

// --------------------
// Main container - Card right side
// --------------------

.pool-col2 {
    width: 35em;
    text-align: center;
    margin-top: 4rem;
}

.pool-title2 {
    color: #1D2320;
    text-align: center;
    font-size: 3.2em;
    font-family: 'Jost*';
    font-weight: 700;
}

// --------------------
// Main container - Card right side - 3 info card
// --------------------

.pool-info-div {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 2rem;
}

.pool-info {
    border: solid #fafafa 1px;
    border-radius: 0.8rem;
    background-color: #1D2320;
    width: 9rem;
    height: 3.5rem;
    display: grid;
    align-items: center;
}

.pool-info-title {
    color: #fafafa;
    font-size: 1.2em;
    font-family: 'Jost*';
    font-weight: 500;
}

.pool-info-value {
    color: #FF005C;
    font-size: 1em;
    font-family: 'Jost*';
    font-weight: 400;
}

// --------------------
// Main container - Card right side - loading bar
// --------------------

.loadingbar {
    margin-top: 3.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 15px;
    border: none;
    border-radius: 10px;
    background: #1D2320;
    // border: solid #fafafa 1px;
}

// --------------------
// Main container - Card right side - buy bars
// --------------------

.pool-buy-bar {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 3rem;
    gap: 4rem;
}

.select-bar {
    width: 10rem;
    height: 4.5rem;
    display: grid;
    align-items: center;
}

.enter-bar {
    width: 18rem;
    height: 4.5rem;
    display: grid;
    align-items: center;
}

.select {
    border: solid #fafafa 1px;
    border-radius: 0.8rem;
    background-color: #1D2320;
    width: 10rem;
    height: 4rem;
    color: #fafafa;
    font-size: 1.2em;
    font-family: 'Jost*';
    font-weight: 500;
    display: grid;
    align-items: center;
    transition: 0.3s;
}

.select:hover{
    font-size: 1.4rem;
    filter: brightness(150%);
}

.enter {
    border: solid #fafafa 1px;
    border-radius: 0.6rem;
    background-color: #1D2320;
    width: 18rem;
    height: 2rem;
    color: #fafafa;
    font-size: 1.2em;
    font-family: 'Jost*';
    font-weight: 500;
    display: grid;
    align-items: center;
    transition: 0.3s;
}

.enter:hover{
    font-size: 1.3rem;
    filter: brightness(150%);
}