<header>
  <div class="logo-container">
    <img class="logo-image" src="assets/global/logo.png" alt="RAFFLAND" (click)="navigateTo('home')">
  </div>
  <div class="menu-bar-container" [ngClass]="{ 'menu-open': isMenuOpen }">
    <!-- <button class="menu-point" (click)="navigateTo(deoptoRoutes.HOME)">{{ 'DEO.Global.Home' | translate}}</button>
    <button class="menu-point" (click)="navigateTo(deoptoRoutes.WHITEPAPER)">{{ 'DEO.Global.Whitepaper' | translate}}</button> -->
    <button class="menu-point" (click)="navigateTo(deoptoRoutes.HOW_IT_WORKS)">{{ 'DEO.Global.HowItWorks' | translate}}</button>
    <button class="menu-point dapp" (click)="navigateTo(deoptoRoutes.DAPP)">{{ 'DEO.Global.Dapp' | translate}}</button>
  </div>

  <button class="hamburger-menu-button" (click)="onMenuClick()">
    <div class="menu-icon-1" [ngClass]="{ 'menu-open': isMenuOpen }"></div>
    <div class="menu-icon-2" [ngClass]="{ 'menu-open': isMenuOpen }"></div>
    <div class="menu-icon-3" [ngClass]="{ 'menu-open': isMenuOpen }"></div>
  </button>
</header>