<div class="bc">
    <div class="landing-page-banner">
        <div class="main-title">Raffland is a decentralized, automated raffle system. <br> Take your chances to win
            bigprizes.</div>
        <div class="island">
            <div class="float-lands"><img class="float-img" src="/assets/global/lands.svg" alt="AllLands"></div>
            <img class="rect" src="/assets/global/rect.svg" alt="Rect">
            <div class="float-shadow"></div>
        </div>
    </div>
</div>
<div class="stats">
    <div class="card1"><img class="statsimg" src="/assets/global/darkgreenbottom.svg"></div>
    <div class="card2"><img class="statsimg" src="/assets/global/lightgreenbottom.svg"></div>
    <div class="card3"><img class="statsimg" src="/assets/global/bluebottom.svg"></div>
</div>