<div class="bc">
  <div class="landing-page-banner">
    <div class="main-box">
      <div class="mini-title">RAFFLE PLATFORM</div>
      <div class="main-title">Raffland is a decentralized, automated raffle system. <br> Take your chances to win big
        prizes.</div>
      <button class="button-pnw-pushable" role="button">
        <span class="button-pnw-shadow"></span>
        <span class="button-pnw-edge"></span>
        <span class="button-pnw-front text">Play & Win</span>
      </button>
    </div>

    <div class="island-items">
      <img class="float-img" src="/assets/global/lands.svg" alt="AllLands">
      <img class="rect" src="/assets/global/rect.svg" alt="Rect">
      <div class="float-shadow"></div>
    </div>
  </div>

  <div class="stats">
    <div class="stats-card1"><img class="statsimg" src="/assets/global/darkgreenbottom.svg"></div>
    <div class="stats-card2"><img class="statsimg" src="/assets/global/lightgreenbottom.svg"></div>
    <div class="stats-card3"><img class="statsimg" src="/assets/global/bluebottom.svg"></div>
  </div>

  <div class="hiw">
    <img class="dots-dark-img" src="/assets/global/dots-dark.svg" alt="">
    <div class="hiw-title">How it works:</div>
    <div class="row-flip"></div>
    <div class="row">
      <div class="col">
        <div class="circle">1</div>
        <div class="hiw-circle-title">Choose a raffle and how many tickets you would like to enter</div>
      </div>
      <div class="col">
        <div class="circle">2</div>
        <div class="hiw-circle-title">Complete the transaction payment to secure your entries</div>
      </div>
      <div class="col">
        <div class="circle">3</div>
        <div class="hiw-circle-title">Wait for the pool to be finished </div>
      </div>
      <div class="col">
        <div class="circle">4</div>
        <div class="hiw-circle-title">If you win, the prize will be directly transferred to your wallet</div>
      </div>
      <img class="gems-img" src="/assets/global/gems.svg" alt="">

    </div>
  </div>
  <div class="custom-shape-divider-bottom-1676734256">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>

  <div class="games">
    <div class="games-title">Choose your game</div>
    <img class="dots-white-img" src="/assets/global/dots-white.svg" alt="">

    <div class="games-card-shadow">
      <div class="pools">
        <div class="games-pools-title">$2 Pools</div>
        <img class="games-pools-img" src="/assets/global/pool2.svg" alt="">
      </div>
    </div>
    <div class="games-card-shadow">
      <div class="pools">
        <div class="games-pools-title">$10 Pools</div>
        <img class="games-pools-img" src="/assets/global/pool10.svg" alt="">
      </div>
    </div>
    <div class="games-card-shadow">
      <div class="pools">
        <div class="games-pools-title">$25 Pools</div>
        <img class="games-pools-img" src="/assets/global/pool25.svg" alt="">
      </div>
    </div>
    <div class="games-card-shadow">
      <div class="pools">
        <div class="games-pools-title">$100 Pools</div>
        <img class="games-pools-img1" src="/assets/global/pool100.svg" alt="">
      </div>
    </div>
    <div class="games-card-shadow">
      <div class="pools">
        <div class="games-pools-title">$1000 Pools</div>
        <img class="games-pools-img1" src="/assets/global/pool1000.svg" alt="">
      </div>
    </div>
  </div>

  <div class="description">
    <div class="description-col">
      <div class="description-title">Fair for everyone
        <img class="description-img-bigger" src="/assets/global/handshake2.svg" alt="">
      </div>
      <div class="description-text">Our raffle are backed by Chainlink VRF solution and results are displayed publicly in our game smart contracts. You can trust every outcome to be completely fair and random.</div>
    </div>
    <div class="description-col">
      <div class="description-title">No KYC
        <img class="description-img" src="/assets/global/nokyc2.svg" alt="">
      </div>
      <div class="description-text">We do not require user registration, KYC, or funds to be deposited. Simply connect and purchase tickets straight from your wallet. </div>
    </div>
    <div class="description-col">
      <div class="description-title">Profitability
        <img class="description-img" src="/assets/global/profit2.svg" alt="">
      </div>
      <div class="description-text">Loyalty, dedication and hard work from the team and the community are key for the expansion of Raffland. We aim to be profitable from day 1, and continually improve our platform's value-creation and options to play.</div>
    </div>
  </div>

</div>