// ---------------------
// Header styles
// ---------------------

@import "src/variables.scss";

div.main-container {
  position: relative;
  min-height: max(40rem, calc(100vh - $footer-height));
  padding-bottom: $footer-height;
  background-color: $strip-background-light;
}