/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.cdnfonts.com/css/jost');
@import url("https://fonts.cdnfonts.com/css/bai-jamjuree");

@import "variables.scss";

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-family: 'Jost*';
}

body{
  margin: 0;
}


   