@import "src/variables.scss";

footer {
  background: linear-gradient(to right, #24272C, #0F0F0F);
  width: 100%;
  bottom: 0;
  height: 8rem;
  padding-top: 10rem;
}

.line-divider {
  margin: 0;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 1px;
  border: none;
  border-radius: 10px;
  background: -webkit-linear-gradient(-70deg, #51E5A1 0%, #9AFFD0 40%, #A1E5F5 100%);
}

.footer-text{
  padding: 3rem;
  color: #acacac;
  font-size: 1em;
  font-family: 'Jost*';
  font-weight: 300;
  text-align: center;
}