<footer>
  <div class="logo-container">
    <img class="logo-image" src="assets/global/deopto-logo.svg" alt="DEOPTO">
    <span class="logo-text">DEOPTO</span>
  </div>
  <div class="social-links">
    <a href="https://t.me/deopto" target="blank">
      <img src="assets/global/telegram-logo.png" alt="Telegram">
    </a>
    <a href="https://twitter.com/deopto" target="blank">
      <img src="assets/global/twitter-logo.png" alt="Twitter">
    </a>
    <a href="https://discord.gg/ttm9TKEQPP" target="blank">
      <img src="assets/global/discord-logo.png" alt="Discord">
    </a>
    <a href="https://www.facebook.com/deopto.token" target="blank">
      <img src="assets/global/facebook-logo.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/deopto_token/" target="blank">
      <img src="assets/global/instagram-logo.png" alt="Instagram">
    </a>
  </div>
  <div class="contact">
    {{ 'DEO.Global.Contact' | translate}} <a href="mailto:deopto.token@gmail.com" target="_top">deopto.token@gmail.com</a>
  </div>
  <div class="copyright">{{ 'DEO.Global.Copyright' | translate}}</div>
</footer>