<header>
  <div class="logo-container">
    <div class="lang-change-desktop">
      <span class="lang-change-current">
        🌐 {{currentLanguage}}
      </span>
      <div class="lang-change-dropdown">
        <div (click)="changeLanguage('en')">
          <img src="assets/global/flag-en.svg" alt="DEOPTO"> EN
        </div>
        <div (click)="changeLanguage('hu')">
          <img src="assets/global/flag-hu.svg" alt="DEOPTO"> HU
        </div>
      </div>
    </div>
    <img class="logo-image" src="assets/global/deopto-logo.svg" alt="DEOPTO" (click)="navigateTo(deoptoRoutes.HOME)">
    <span class="logo-text" (click)="navigateTo(deoptoRoutes.HOME)">DEOPTO</span>
  </div>
  <div class="menu-bar-container" [ngClass]="{ 'menu-open': isMenuOpen }">
    <button class="menu-point" (click)="navigateTo(deoptoRoutes.HOME)">{{ 'DEO.Global.Home' | translate}}</button>
    <button class="menu-point" (click)="navigateTo(deoptoRoutes.WHITEPAPER)">{{ 'DEO.Global.Whitepaper' | translate}}</button>
    <button class="menu-point" (click)="navigateTo(deoptoRoutes.HOW_IT_WORKS)">{{ 'DEO.Global.HowItWorks' | translate}}</button>
    <button class="menu-point" (click)="navigateTo(deoptoRoutes.DAPP)">{{ 'DEO.Global.Dapp' | translate}}</button>
    <div class="lang-change-mobile" [ngClass]="{ 'menu-open': isMenuOpen }">
      <button (click)="changeLanguage('en')">
        <img src="assets/global/flag-en.svg" alt="DEOPTO"> EN
      </button>
      <button (click)="changeLanguage('hu')">
        <img src="assets/global/flag-hu.svg" alt="DEOPTO"> HU
      </button>
    </div>
  </div>

  <button class="hamburger-menu-button" (click)="onMenuClick()">
    <div class="menu-icon-1" [ngClass]="{ 'menu-open': isMenuOpen }"></div>
    <div class="menu-icon-2" [ngClass]="{ 'menu-open': isMenuOpen }"></div>
    <div class="menu-icon-3" [ngClass]="{ 'menu-open': isMenuOpen }"></div>
  </button>
</header>