@import "src/variables.scss";

// --------------------
// Header styles
// --------------------

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: $header-padding 0rem;
  z-index: 999;
  background-color: rgba(black, 0.9);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: $mobile-breakpoint) {
    justify-content: space-between;
  }
}

// --------------------
// Logo styles
// --------------------

header {
  & .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    margin: 0 1rem;
  }

  & .logo-image {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
  }

  & .logo-text {
    margin: 1rem;

    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: rgba(black, 0.7) 1px 1px 3px;
    letter-spacing: 0.125em;

    cursor: pointer;

    @media only screen and (max-width: $medium-breakpoint) {
      display: none;
    }
    
    @media only screen and (max-width: $mobile-breakpoint) {
      display: block;
    }
  }
}

// --------------------
// Navigation and menu styles
// --------------------

header .lang-change-desktop {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: none;
  }

  color: #fafafa;
  position: relative;
  display: inline-block;
  width: 5em;
  font-size: 1.2em;

  & .lang-change-current {
    color: #fafafa;
    padding: 0.25rem 0.25rem 0.25rem 0rem;
  }

  & .lang-change-dropdown {
    display: none;

    width: 5.5rem;
    position: absolute;
    background-color: $landing-hero-background;
    border-radius: 1rem;
    border: 1px solid $strip-background-light;
    z-index: 99;

    &>div {
      padding: 0.75rem;
      cursor: pointer;
    }
  }

  & img {
    width: 2rem;
  }

  &:hover .lang-change-dropdown {
    display: block;
  }

}

header .menu-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media only screen and (max-width: $mobile-breakpoint) {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.93);

    &.menu-open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  &>.menu-point {
    padding: 0.375rem 1rem;

    color: #fafafa;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: rgba(black, 0.4) 0px 0px 2px;

    @media only screen and (max-width: $mobile-breakpoint) {
      padding: 0.675rem;
      font-size: large;
      color: #fafafa;
      width: 70vw;
    }

    &:hover {
      color: $primary-color;
    }

    &.vote-button {
      color: $primary-color;
      font-weight: 800;

      border: 3px solid $primary-color;
      border-radius: 10rem;
      text-shadow: unset;
    }
  }
}

// --------------------
// Mobile language selection styles
// --------------------

header .lang-change-mobile {
  display: none;

  @media only screen and (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &.is-menu-open {
    display: flex;
    flex-direction: row;
  }

  & button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: large;
    color: #fafafa;

    & img {
      width: 3rem;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

// --------------------
// Hamburger button styles
// --------------------

$menu-button-size: 1.5rem;

.hamburger-menu-button {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: block;
  }

  display: none;
  position: relative;
  height: $menu-button-size;
  width: $menu-button-size;
  margin-right: 2rem;
  z-index: 999;
}

// Icon from css styles

.menu-icon-1,
.menu-icon-2,
.menu-icon-3 {
  content: "";
  display: block;
  background-color: #fff;
  height: 0.25rem;
  width: 100%;
  border-radius: 2px;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 10ms;
}

.menu-icon-1 {
  position: absolute;
  top: 0;

  &.menu-open {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.menu-icon-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;

  &.menu-open {
    background-color: transparent;
  }
}

.menu-icon-3 {
  position: absolute;
  bottom: 0;

  &.menu-open {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}